@font-face {
    font-family: fuente;
    src: url('sources/Lemon_Days.otf') format('truetype');
  }

*{
    margin: 0;
    padding: 0;
    background-color: #64747c;
    font-family: fuente;
}

#title{
    padding-top: 2%;
    text-align: center;
    font-size: 90px;
    background: none;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, .5));
}

.gridandsize{
    width: 600px;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(16, auto);
    
    height: 600px;
    width: 600px;
    border: 2px solid black;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, .5));
}

.grid-item{
    border: .5px solid rgba(0, 0, 0, .05);
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 200px;
    gap: 5%;

    position: absolute;
    margin-left: 25%;
    margin-top: 2%;
}

#colorSelector{
    height: 150px;
    width: 150px;
    border: none;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, .5));
}

.buttons{
    padding: .3%;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: #b2b9c6;
    font-size: 35px;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, .5));
    text-align: center;
}
.buttons:hover{
    background-color: #a4acbc;
}

option{
    margin-top: 2%;
    background-color: #a4acbc;
}

#size{
    height: 26px;
    width: 600px;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, .5));
    border: 2px solid red;
}

#number{
    background: none;
    font-size: 30px;
    text-align: center;
}
